/**
 * Generates a set of style rules for the "navigation" tab UI.
 */
@include extjs-panel-ui(
    $ui: 'thread-panel-action',
    $ui-border-color:#f4f3d7,
    $ui-header-font-weight:bold,
    $ui-header-color: #467ead,
    $ui-header-font-size:13px,
    $ui-header-line-height:16px,
    $ui-header-background-color: #f4f3d7
);

@include extjs-panel-ui(
    $ui: 'thread-panel-note',
    $ui-border-color:#f6f7f9,
    $ui-header-font-weight:bold,
    $ui-header-color: #467ead,
    $ui-header-font-size:13px, 
    $ui-header-line-height:16px,
    $ui-header-background-color: #f6f7f9
);

//3c454f
@include extjs-tab-panel-ui(
    $ui: 'viewport-tab',

    $ui-tab-background-color:lighten(#293f54, 10%),
    $ui-tab-border-radius: 3px,
    $ui-tab-color:#FFFFFF,
    $ui-tab-font-size: 12px,
    $ui-tab-color-active: darken(#293f54, 5%),
    $ui-bar-background-color: #293f54
);

  
@include extjs-tab-panel-ui(
    $ui: 'plain-tab',

    $ui-tab-background-color:darken($lightest-color, 5%),
    $ui-tab-border-radius: 1px,
    $ui-tab-color:#32404e,
    $ui-tab-font-size: 12px,
    $ui-tab-color-active: darken($lightest-color, 10%),
    $ui-bar-background-color:$lightest-color
);

.tpl_details {
    padding: 10px;
    margin: 10px;
    width: 500px;
}

.x-title-icon-navigation {
    font-family: FontAwesome;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
}

.x-tab-icon-el-navigation {
    font-family: FontAwesome;
    color: #acacac;

    .x-tab-over & {
        color: #c4c4c4;
    }

    .x-tab-active & {
        color: #fff;
    }
}

.x-panel-header-title-navigation > .x-title-text-navigation:after {
    top: 30px;
    right: -24px;
}



//UI Styles for buttons
@include extjs-button-small-ui(
    $ui: 'soft-menu',

    $border-color: #293f54,
    $background-color:#293f54,
    $background-color-over: lighten(#293f54, 10%),
    $background-color-focus:  lighten(#293f54, 10%),
    $background-color-pressed:  lighten(#293f54, 10%),
    $background-color-focus-over:  lighten(#293f54, 10%),
    $background-color-focus-pressed:  lighten(#293f54, 10%),
    $background-color-disabled: lighten(#293f54, 10%)

);

@include extjs-button-large-ui(
    $ui: 'soft-menu',

    $border-color: #3c454f,
    $background-color:#3c454f,
    $background-color-over: lighten(#3c454f, 10%),
    $background-color-focus:  lighten(#3c454f, 10%),
    $background-color-pressed:  lighten(#3c454f, 10%),
    $background-color-focus-over:  lighten(#3c454f, 10%),
    $background-color-focus-pressed:  lighten(#3c454f, 10%),
    $background-color-disabled: lighten(#3c454f, 10%)

);

@include extjs-button-small-ui(
    $ui: 'soft-blue',
    $background-color: $color-soft-blue,
    $border-color: darken($color-soft-blue, 5%)
);
@include extjs-button-large-ui(
    $ui: 'soft-blue',
    $line-height: 34px,
    $background-color: $color-soft-blue,
    $border-color: darken($color-soft-blue, 5%)
);

@include extjs-button-small-ui(
    $ui: 'soft-cyan',
    $background-color: $color-soft-cyan,
    $border-color: darken($color-soft-cyan, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-cyan',
    $background-color: $color-soft-cyan,
    $border-color: darken($color-soft-cyan, 5%)
);


@include extjs-button-small-ui(
    $ui: 'soft-green',
    $background-color: $color-soft-green,
    $border-color:darken($color-soft-green, 5%)
);
@include extjs-button-large-ui(
    $ui: 'soft-green',
    $line-height: 34px,
    $background-color: $color-soft-green,
    $border-color:darken($color-soft-green, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-green',
    $background-color: $color-soft-green,
    $border-color:darken($color-soft-green, 5%)
);



@include extjs-button-small-ui(
    $ui: 'soft-dark',
    $background-color: $color-darkblue,
    $border-color:darken($color-darkblue, 5%)
);
@include extjs-button-large-ui(
    $ui: 'soft-dark',
    $line-height: 34px,
    $background-color: $color-soft-green,
    $border-color:darken($color-darkblue, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-dark',
    $background-color: $color-soft-green,
    $border-color:darken($color-darkblue, 5%)
);



@include extjs-button-small-ui(
    $ui: 'soft-red',
    $background-color: $color-soft-red,
    $border-color:darken($color-soft-red, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-red',
    $background-color: $color-soft-red,
    $border-color:darken($color-soft-red, 5%)
);


@include extjs-button-small-ui(
    $ui: 'soft-purple',
    $background-color: $color-soft-purple,
    $border-color:darken($color-soft-purple, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-purple',
    $background-color: $color-soft-purple,
    $border-color:darken($color-soft-purple, 5%)
);


@include extjs-button-small-ui(
    $ui: 'gray',
    $background-color: $color-gray,
    $border-color:darken($color-gray, 5%)
);
@include extjs-button-large-ui(
    $ui: 'gray',
    $line-height: 34px,
    $background-color: $color-gray,
    $border-color:darken($color-gray, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'gray',
    $background-color: $color-gray,
    $border-color:darken($color-gray, 5%)
);

@include extjs-button-small-ui(
    $ui: 'green',
    $background-color: $color-green,
    $border-color:darken($color-green, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'green',
    $background-color: $color-green,
    $border-color:darken($color-green, 5%)
);


@include extjs-button-small-ui(
    $ui: 'blue',
    $background-color: $color-blue,
    $border-color:darken($color-blue, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'blue',
    $background-color: $color-blue,
    $border-color:darken($color-blue, 5%)
);




#main {
    .quick-graph-panel {
        .x-panel-header {
            background: $lightest-color;
            padding: 12px;
            .x-tool-img {
                display: none;
            }
            .x-fa, .x-title-text {
                color: $color;
                line-height: 16px;
                &.x-title-text {
                    padding-left: 10px;
                }
            }
            .x-title-icon-wrap {
                height: 30px;
                width: 30px;
                border-radius: 15px;
                background: #f1f1f1;
                padding: 0;
            }
        }
    }
}
.main-tools{
    font-size: 18px;
    color: #fff;
    line-height: 15px;
    .x-tool-img{
        background-image: none;
    }
}

//    height: 50px; border-right:solid #32404e 1px;

.north-panel {
    background-color: #36474f;
    box-shadow:0px 1px 5px #888888;
}

.sencha-logo-old {
    background-color: #36474f;
        
    height: 30px;

    margin-left: 22px;
    color: $lightest-color;
    font-size: 15px;
    font-weight:bold;

    .main-logo {
        line-height: 35px;
        img{
            margin-left: 22px;
            margin-right: 22px;
            top: 3px;
            position: relative;
        }
    }
}

.sencha-logo {
    background-color: #4dacec;
        
    height: 30px;

    margin-left: 5px;
    color: $lightest-color;
    font-size: 15px;
    font-weight:bold;

    .main-logo {
        line-height: 35px;
        img{
            margin-left: 5px;
            margin-right: 5px;
            top: 3px;
            position: relative;
        }
    }
}

.sencha-dash-dash-headerbar {
    padding:0 0 0 0;
    position:fixed;
    width:100%;
    z-index:10;
    border:none;
    .header-right-profile-image {
        border-radius: 20px;
    }
}


.x-btn.x-btn-soft-menu-pressed {
    background: yellow;
    background-color:yellow !important;
    border:solid 1px red !important;
}

.8n {
    background: #3c454f;
}

.my-btn.x-btn.x-btn-pressed  {
    border-left:solid #4dacec 8px;
}
.my-btn.x-btn.x-btn-over{
    border-left:solid #4dacec 8px;
}

.empty .x-change-cell {
    background-color: #FFB0C4;
    color:red;
}
.valid .x-change-cell {
    background-color: #B0FFC5;
    color:green;
}
.warning .x-change-cell {
    background-color: #ffffb3;
    color:#999900;
}
.update .x-change-cell {
    background-color: #9ed8fa;
    color:#24a8f5;
}
.hmo_update .x-change-cell {
    background-color: #6ec5f7;
    color:#0a8fdb;
}


.taskbtn { 

    width:40px;
    height:40px;
    background: #f44236;
    border: 2px solid #fff;
    border-radius: 100%;
    box-shadow: 0 -1px 0 2px darken(#f44236, 10%) inset, 0 5px 5px rgba(darken(#f44236, 40%), 0.17), 0 15px rgba(#fff, 0.25) inset;
    border-radius:250px;
    font-size:11px;
    color:#fff;
    line-height:40px;
    text-align:center;

    &:hover {
        background: #fc766d;
        box-shadow: 0 -1px 0 2px darken(#fc766d, 10%) inset, 0 5px 5px rgba(darken(#fc766d, 40%), 0.17), 0 15px rgba(#fff, 0.32) inset;
    }
    
}


.notification-counter {   
    position: absolute;
    top: -2px;
    left: 10px;
    border:1px solid #d4130d;
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font: 7px Verdana;
}

.notification-counter .x-btn-inner-default-small {
    font: 400 10px/10px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    color: #f0f0f0;
    padding: 0 2px;
    max-width: 100%;
}

