@include sencha-toolbar-ui('ViewportToolbar', darken(#0a091b, 5%));
@include sencha-toolbar-ui('ALToolbar', darken(#ffffff, 10%));

.x-toolbar-ViewportToolbar {
    background-color: #0a091b;
    background-image: none;
    border-color: #0a091b;
}
.x-toolbar-ViewportToolbar .x-title {
    color: #ffffff;
    font-weight: 500;
    font-size: 22px;
}

//00b7f3
.x-toolbar-ALToolbar {
    background-color : #4dacec;
    background-image : none;
    border-color : #4dacec; 
    box-shadow: 0px 1px 3px #888888;
    margin-bottom:2px;

}

.x-toolbar-ALToolbar .x-title {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
}

.c_icon
{
 background-color: #FFFFFF;
 color:#a3a3a3;
 border-radius: 50%;
 border: 1x solid grey;
 padding:10px 15px 10px 15px;
float: left;
}

.al-logo {
    height: 80px;

    color: #fff;
    font-size: 0.8em;
    color: #a3a3a3;
    background: #232232;
    border-bottom: 0px solid #0a091b;
   
    .image-wrapper {
        color: #FFF;
        text-align: right;
        position: relative; 
        width: 230px;
        background: #232232;
        background-repeat: no-repeat;
    } 
    .image-wrapper p { 
        position: relative; 
        left: 0; top: 0; 
        border: 1px solid #FFF; 
        width: 210px;
        color: #FFF; 
        margin: 5px; 
    }
}

.fa-bars{
    color: #FFFFFF;
}

.fa-bars:before 
{   
    color: #FFFFFF;
}

.fa-chevron-left{
    color: #FFFFFF;    
}

.fa-chevron-left:before{
    color: #FFFFFF;    
}

.fa-power-off{
  color:#FFFFFF;
}
.fa-power-off:before {
  color:#FFFFFF;
}

/*.fa-user{
    color: rgb(255, 255, 255) !important;
    font-size: 65px;
    margin-left: -0.2em;
}
.fa-user:before {
    color: rgb(255, 255, 255) !important;
    font-size: 65px;
    margin-left: -0.2em;
}

.fa-users{
    color: rgb(255, 255, 255) !important;
    font-size: 65px;
    margin-left: -0.3em;
}
.fa-users:before {
    color: rgb(255, 255, 255) !important;
    font-size: 65px;
    margin-left: -0.3em;
}
*/

.mainmenu {
  background: #0a091b;  
  border-bottom: 0px solid #0a091b;
}

.mainmenu .divider {
  font-size: 0.7em;
  color: #a3a3a3;
  padding: 0.2em 1em;
  border-bottom: 1px solid #232232;
  background: #0a091b;
}

.x-button-mainmenu, .x-button-login {
  font-family: calibri;
  font-weight:300;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-image: none;
  background-color: #0a091b;
  border-top: 0px solid #0a091b;
  border-bottom: 0px solid #0a091b;
  border-right: 1px solid #0a091b;
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  border-width: 0px 0;
  height: 3em;
}

.x-button-mainmenu .x-button-icon {
    color: #6b6a78;
}

.x-button-mainmenu:hover {
  background: #232232;
}
.x-button-mainmenu, .x-button-mainmenu .x-button-label, .x-button-mainmenu .x-badge, .x-button-login, .x-button-login .x-button-label, .x-button-login .x-badge {
  color: #FFF;
  text-align: left;
}

.x-button-mainmenu.x-button-pressing, .x-button-login.x-button-pressing {
  background-color: #232232;
  background-image: none;
  color: #1fbad6;
}
.x-menu.x-left {
    border-right: 1px solid #0a091b;
}
.x-button-mainmenu.x-button-pressing, .x-button-mainmenu.x-button-pressing .x-button-label, .x-button-mainmenu.x-button-pressing .x-badge, .x-button-login.x-button-pressing, .x-button-login.x-button-pressing .x-button-label, .x-button-login.x-button-pressing .x-badge {
  color: #1fbad6;
}

.x-button-mainmenu.x-button-pressing .x-button-icon {
    color: #1fbad6;
}



.d1-btn {
    @include box-shadow;
    background-image: none !important;
    background-color: rgb(64, 191, 206) !important;
    border-color: #49c2d0;
    @include border-radius(125px * 2);
    width: 130px;
    height: 125px;
    z-index: 0 !important;

    &.mygroups, &.dashboard {
        width: 130px;
        height: 125px;
    }

    .x-button-label {
        color: #fff;
        font-weight: normal;
        font-size: 16px;
        margin-top: 1em;
    }

    .x-button-icon {
        width: 4em;
        height: 4em;
        background-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}


.d1-btn span {
  display: inline-block;
  position: relative;
}

.d2-btn {
    @include box-shadow;
    background-image: none !important;
    background-color: rgb(68, 130, 183) !important;
    border-color: #4583ba;
    @include border-radius(125px * 2);
    width: 130px;
    height: 125px;
    z-index: 0 !important;

    &.mygroups, &.dashboard {
        width: 130px;
        height: 125px;
    }

    .x-button-label {
        color: #fff;
        font-weight: normal;
        font-size: 16px;
        margin-top: 1em;
    }

    .x-button-icon {
        width: 4em;
        height: 4em;
        background-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}