.x-button .x-button-icon.x-icon-mask.info {
    background-image: none;
    background-color: #fff;
}

.add-btn {
    margin-top:24px;
}
.btn-red{
    background: #25A6E1;
    background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
    background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
    padding:8px 13px;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:17px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #1A87B9
}

.logout-link {
    display: block;
    color: #000;
    text-decoration: none;
    margin-top: 20px;
    padding: 5px 6em;
    @include border-radius(5px);
    @include background-gradient(#ccc, 'recessed');
    border: 1px solid #999;
    font-weight: bold;
}

.button-container {
    position:relatve;
    border: 0 !important;
    margin: 0 !important;
    padding-left: 10px;   
}

.home-button {
    @include box-shadow;
    background-image: none !important;
    background-color: rgb(4, 195, 250) !important;
    border-color: #1dcbfc;
    @include border-radius(125px * 2);
    width: 130px;
    height: 125px;
    z-index: 0 !important;

    &.mygroups, &.findmeetups {
        width: 130px;
        height: 125px;
    }

    .x-button-label {
        color: #fff;
        font-weight: normal;
        font-size: 14px;
        margin-top: 1em;
    }

    .x-button-icon {
        width: 4em;
        height: 4em;
        background-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.d1-btn {
    @include box-shadow;
    background-image: none !important;
    background-color: rgb(64, 191, 206) !important;
    border-color: #49c2d0;
    @include border-radius(125px * 2);
    width: 125px;
    height: 120px;
    z-index: 0 !important;

    &.mygroups, &.dashboard {
        width: 125px;
        height: 120px;
    }

    .x-button-label {
        color: #fff;
        font-weight: normal;
        font-size: 14px;
        margin-top: 1em;
    }
    .x-btn-inner-default-small {
        font: 900 55px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
        color: #ffffff;
        padding: 1px 1px;
        margin-top: 5em;
        margin-bottom: 5em;
        max-width: 100%;
    }

    .x-btn-inner-default-toolbar-small {
        font: 900 55px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
        color: #ffffff;
        padding: 1px 1px;
        margin-top: 5em;
        margin-bottom: 5em;
        max-width: 100%;
    }
    .x-button-icon {
        width: 4em;
        height: 4em;
        background-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.d2-btn {
    @include box-shadow;
    background-image: none !important;
    background-color: rgb(68, 130, 183) !important;
    border-color: #4583ba;
    @include border-radius(125px * 2);
    width: 125px;
    height: 120px;
    z-index: 0 !important;

    &.mygroups, &.dashboard {
        width: 125px;
        height: 120px;
    }

    .x-button-label {
        color: #fff;
        font-weight: 900;
        font-size: 20px;
        margin-top: 1em;
    }
    .x-btn-inner-default-small {
        font: 900 55px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
        color: #ffffff;
        padding: 1px 1px;
        margin-top: 5em;
        margin-bottom: 5em;
        max-width: 100%;
    }

    .x-btn-inner-default-toolbar-small {
        font: 900 55px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
        color: #ffffff;
        padding: 1px 1px;
        margin-top: 5em;
        margin-bottom: 5em;
        max-width: 100%;
    }
    .x-button-icon {
        width: 4em;
        height: 4em;
        background-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.d3-btn {
    @include box-shadow;
    background-image: none !important;
    background-color: rgb(80, 124, 157) !important;
    border-color: #5785a8;
    @include border-radius(125px * 2);
    width: 125;
    height: 120px;
    z-index: 0 !important;

    &.mygroups, &.dashboard {
        width: 125px;
        height: 120px;
    }

    .x-button-label {
        color: #fff;
        font-weight: normal;
        font-size: 14px;
        margin-top: 1em;
    }

    .x-btn-inner-default-small {
        font: 900 55px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
        color: #ffffff;
        padding: 1px 1px;
        margin-top: 5em;
        margin-bottom: 5em;
        max-width: 100%;
    }

    .x-btn-inner-default-toolbar-small {
        font: 900 55px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
        color: #ffffff;
        padding: 1px 1px;
        margin-top: 5em;
        margin-bottom: 5em;
        max-width: 100%;
    }
    .x-button-icon {
        width: 4em;
        height: 4em;
        background-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.d4-btn {
    @include box-shadow;
    background-image: none !important;
    background-color: rgb(163, 207, 142) !important;
    border-color: #a7d194;
    @include border-radius(125px * 2);
    width: 130px;
    height: 125px;
    z-index: 0 !important;

    &.mygroups, &.dashboard {
        width: 130px;
        height: 125px;
    }

    .x-button-label {
        color: #fff;
        font-weight: normal;
        font-size: 14px;
        margin-top: 1em;
    }

    .x-button-icon {
        width: 4em;
        height: 4em;
        background-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.findmeetups, .mygroups, .findgroups {
    .x-button-icon {
        margin-top: 0.7em;
        margin-bottom: 0.7em;
    }
}

.findgroups {
    .x-button-label {
        margin-top: -0.3em;
    }
}

a.button {
    width: 48px;
    height: 32px;
    display: inline-block;
    vertical-align:center;
    font-size: 0.7em !important;
    font-weight: bold !important;
    text-decoration: none !important;
}

.sla_note_panel {
    background:rgb(204, 204, 204);
    border: none;
    color:#666666;
    text-align:center;
    
}
.sla_note_panel .x-form-label{
    border: none;
    line-height:15px;
    text-align:left;
    font-size: 12px;
    color:#0d4055;
    background:rgb(255, 255, 255);
}