
.batchupload-page-container{
    .batchupload-page-inner-container{
        margin-top:-1px;   
    }
    .x-window-body-default{
        background-color: $lightest-color;
        background-size:cover;
        color: #333;
        font-size: 10px;
        line-height: 10px;
    
    }
    &.x-window-default{
        border: none;  
    }
    .batchupload-page-top-text{
        font-size: 11px;
        line-height: 10px;
    }
    .batchupload-page-title-text{
        font-size: 20px;
        line-height: 20px;
        font-weight:bold;
        margin-bottom: 10px;
        margin-left: 2px;
    }

    .batchupload-page-semi-title-text{
        font-size: 13px;
        line-height: 13px;
        margin-left: 5px;
        margin-right: 5px;
    }


    .batchupload-page-semi-title--margin-top-text{
        font-size: 13px;
        font-weight:bold;
        line-height: 13px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .batchupload-page-bottom-text{
        font-size: 11px;
    }
    .batchupload-page-desc{
        line-height:12px;
        text-align:left;
        margin-bottom: 10px;
        font-size:12px;
        a{
            color:$base-color;
            text-decoration:none;
            &:hover{
                text-decoration:underline;
            }
        }
    }
}