.invalidField .x-form-field {
  background-color: #ffe6e6 !important;
}

.x-list {
    .x-list-item > .x-innerhtml {
        font-weight: bold;
        color: #4bdaf4;
        font-size: 13px;
        line-height: 18px;
                min-height: 61px;

        > span {
            display: block;
            font-size: 12px;
            font-weight: normal;
            color: #9e9ea2;
        }
    }

    .left_icon {
        float: left;
        height: 40px;
        width: 40px;
        margin-left:10px;
        margin-right: 10px;
        margin-top:10px;
        margin-bottom: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        color :#4bdaf4;
    }

    .x-item-pressed,
    .x-item-selected {
        border-top-color: #D1D1D1 !important;
    }
}